Pods/

# user-specific XCode stuff
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xccheckout
*.xcworkspacedata
*.xcworkspace
*.xcscheme
*.xcconfig

# temp nibs and swap files
*~.nib
*.swp
*.orig

*.DS_Store
Podfile.lock